.player-container {
    border-top: 1px solid var(--divider);
    background-color: var(--background-paper);
    padding: 16px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    margin: 0 20px 16px;
}

.play-button:hover,
.play-button-next:hover,
.play-button-prev:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.play-button-next,
.play-button-prev{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
}

.audio {
    display: none;
}
