.music-list{
    list-style-type: decimal;
    margin: 32px 0 0;
    max-height: 100%;
    min-height: 100px;
    overflow-y: auto;
}

.music-information{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    'name time'
    'artist time';
    align-items: center;
}

.music-list-item{
    padding: 8px 32px 8px 8px;
    cursor: pointer;
}

.music-list-item.selected{
    color: var(--primary);
}

.music-list-item:hover{
    opacity: 0.8;
    background-color: rgba(255,255,255,0.1)
}

.music-name{
    grid-area: name;
}

.music-artist{
    grid-area: artist;
    color: var(--text-secondary);
}

.music-time{
    grid-area: time;
    width: 80px;
    text-align: right;
    color: var(--text-secondary);
}